bumpversion
coverage
cryptography
flake8==3.4.1
isort>=4.2.8
mypy
pip
pycodestyle
pylint
pytest
pytest-cov
pytest-isort
pytest-mccabe
pytest-pep8
pytest-pylint
PyYAML
Sphinx
tox
watchdog
wheel
-r requirements.txt
