bumpversion
coverage
cryptography
flake8
isort>=4.2.8
mypy
pip
pycodestyle
pylint
pytest
pytest-cov
pytest-isort
pytest-mccabe
pytest-pep8
pytest-pylint==0.7.1
PyYAML
Sphinx
tox
watchdog
wheel
-r requirements.txt
