bumpversion
coverage
cryptography
flake8
isort>=4.2.8
mypy
pip==9.0.1
pycodestyle
pylint
pytest
pytest-cov
pytest-isort
pytest-mccabe
pytest-pep8
pytest-pylint
PyYAML
Sphinx
tox
watchdog
wheel
-r requirements.txt
